################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ClimateMonitor/FileContentIndex/2499f6a0-2913-4e58-b16b-1cb3e2f28a8d.vsidx
